<!DOCTYPE html>
<html data-ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Garbo - Play in style</title>
		<meta name="description" content="Play in style. Insättningsbonus om 100% upp till 1000 kr, gratispengar för nya spelare: Black Jack, Roulette, Enarmade banditer" />
		<meta name="keywords" content="casino, kasino, black jack, roulette, enarmade banditer, spelautomater, enarmad bandit, jackpot" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="<%= staticPrefix %>/assets/icons/garbo-72.png" />
		<link rel="apple-touch-icon" href="<%= staticPrefix %>/assets/icons/garbo-120.png" sizes="120x120"/>
		<link rel="apple-touch-icon" href="<%= staticPrefix %>/assets/icons/garbo-152.png" sizes="152x152"/>
		<meta name="mobile-web-app-capable" content="yes">
     	<link rel="icon" href="<%= staticPrefix %>/assets/icons/garbo-196.png" sizes="196x196">
		<link rel="icon" type="image/x-icon" href="<%= staticPrefix %>/favicon.png" />
		<!-- head-css -->
		<% styles.forEach( function ( file ) { %>
        	<link rel="stylesheet" type="text/css" href="<%= staticPrefix %>/<%= file %>" />
        <% }); %>
        <!-- /head-css -->
		<!--[if lte IE 8]>
		<script type="text/javascript">var isLegacy=true;</script>
		<![endif]-->
	</head>
	<body data-ng-controller="BaseCtrl" data-ng-class="cssClass.baseClass" class="base">
		<a data-ng-class="cssClass.logo" data-ng-href="/" data-ng-click="closeMenu($event)"><span class="icon-garbo-icons-logo"></span></a>
		<div data-ng-class="cssClass.appState" class="base-view">
			<div data-ng-view></div>
			<div data-ng-include="'navigation/navigation.tpl.html'"></div>
		</div>
		<div class="app-loading-canvas">
			<div class="app-loading">
				<canvas class="app-loading-spinner" id='garbo-loader' width='150px' height='150px'></canvas>
			</div>
		</div>
		<!-- body-js -->
		<% scripts.forEach( function ( file ) { %>
        	<script type="text/javascript" charset="utf-8" src="<%= staticPrefix %>/<%= file %>"></script>
        <% }); %>
		<script src="<%= staticPrefix %>/src/app/loader.js"></script>
		<script src="<%= staticPrefix %>/src/app/app.js"></script>
		<!-- /body-js -->
	</body>
</html>
